@tailwind base;
@tailwind components;
@tailwind utilities;


@layer{

body{
direction: rtl;

}
.skils{


background-color: bisque;
border-radius: 30px;
margin:  30px auto ;

}
.photo{

 background: url(./img/skils.jpg);
 background-repeat: no-repeat;
height: 120vh;
}
.card{
    display: flex;
    justify-content: center;
    align-items: center;
    transition:  photome  0.5s  initial;
  
}
.btn2{

    background-image: linear-gradient(180deg,#0699a9 0%,#0699a9 100%);
    background-color: transparent;

}

@keyframes html {
    0%{ width: 0;}
    100%{width: 90%;}
    
}
}

