@tailwind base;
@tailwind components;
@tailwind utilities;


@layer{

body{
direction: rtl;

}
.photo{

 background: url(./img/pexels-pixabay-531880.jpg) ;
 background-repeat: no-repeat;
height: 120vh;
}
.card{
    display: flex;
    justify-content: center;
    align-items: center;
    transition:  photome  0.5s  initial;
  
}

@keyframes photome {

    0%{  border-top-left-radius: 40%;  }
    50%{  border-radius: 70%; background-color: aquamarine; }
    100%{

        border-radius: 10%;
        width: 340px;
    }
}
}