@tailwind base;
@tailwind components;
@tailwind utilities;


@layer{

body{
direction: rtl;

}
.photo{

 background: url(./img/pexels-pixabay-531880.jpg) ;
 background-repeat: no-repeat;
height: 120vh;
}
.card{
    display: flex;
    justify-content: center;
    align-items: center;
  
}

}